<!DOCTYPE html>
<html>
  <div id="all">
       <footer class="grid-container">
  <div class="grid-item">About Nabi</div>
  <div class="grid-item">Contact Us</div>
  <div class="grid-item">Order Status</div>  
  <div class="grid-item">Find Our Store</div>
  <div class="grid-item">Send Feedback</div>  
  <div class="grid-item">Legal</div>
  <div class="grid-item" style="font-size:15px;font-family:initial" >&#9743; 0934114954-VietNam 2021-2022 Nabi la robe® - All rights reserved.</div>
  </div>
  </html>


