<!DOCTYPE html>
<head>
 <title>Nabi la Robe</title>
 </head>
<div id="homepage">
<body>  
   <!-- Carousel -->
  <div id="demo1" class="carousel slide" data-bs-ride="carousel">
        <!-- Latest -->
        <h2>Latest</h2>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo1" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo1" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo1" data-bs-slide-to="2"></button>
        </div>
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img class="hinhtrangchu" src="https://b-f46-zpg-r.zdn.vn/2298139839117738947/1ec9c84c5cf790a9c9e6.jpg" >
            <div class="carousel-caption">
            <h3>Mei Dress</h3>
            <h4>$28.99</h4>
            </div>
          </div>
          <div class="carousel-item">   
            <img  class="hinhtrangchu" src="https://f61-zpg-r.zdn.vn/4484192527967861241/987f954e9ff453aa0ae5.jpg" >
            <div class="carousel-caption">  
            <h3>Lovi Dress</h3>
            <h4>$25.99</h4>
            </div>
          </div>        
          <div class="carousel-item">
            <img  class="hinhtrangchu" src="https://b-f62-zpg-r.zdn.vn/6238450635056759621/395fa856f5163a486307.jpg" >
            <div class="carousel-caption">
            <h3>Nae Dress</h3>
            <h4>$31.49</h4>
            </div>
          </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" data-bs-target="#demo1" data-bs-slide="prev" id="1" >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo1" data-bs-slide="next" id="2">
          <span class="carousel-control-next-icon"></span>
        </button>
  </div>
   
     
  <div id="demo2" class="carousel slide" data-bs-ride="carousel">
        <h2>Greatest</h2> 
        <!-- Best Seller-->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo2" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo2" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo2" data-bs-slide-to="2"></button>
        </div>
        
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img class="hinhtrangchu" src="https://f59-zpg-r.zdn.vn/8085755033631143464/4c796dbb95c55a9b03d4.jpg" >
            <div class="carousel-caption">
            <h3>Ceei Dress</h3>
            <h4>$20.49</h4>
            </div>
          </div>
          <div class="carousel-item">   
            <img class="hinhtrangchu" src="https://b-f62-zpg-r.zdn.vn/5784403223603690360/67293fc31583dadd8392.jpg" >
            <div class="carousel-caption">
            <h3>Kupi Dress</h3>
            <h4>$28.99</h4>
            </div>
          </div>        
          <div class="carousel-item">
            <img class="hinhtrangchu" src="https://b-f62-zpg-r.zdn.vn/7054131864474326542/efb1e756b61679482007.jpg" >
            <div class="carousel-caption">
            <h3>Cuol Dress</h3>
            <h4>$35.49</h4>
            </div>
          </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" data-bs-target="#demo2" data-bs-slide="prev" id="3">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" data-bs-target="#demo2" data-bs-slide="next" id="4">
          <span class="carousel-control-next-icon"></span>
        </button>
  </div>
<header>
        <h2 id="brand">NABI LA ROBE </h2>
</header>
</body>
</div>


